@import '~bootstrap/scss/bootstrap';

$navdark: #343a40;

nav {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.selected {
  color: green;
}

footer {
  position: fixed;
  bottom: 0;
}

.actions {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: green;
  color: white;
}

.action {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.reps:hover {
  color: green;
}

.account-line {
  margin-bottom: 8px;
}

.dropdown-item:active {
  background-color: white;
}

.dropdown-item:hover {
  background-color: white;
}

#sign-out {
  display: inline-block;
}

.list-choice {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  height: 2em;
}

#step-one, .reps {
  // padding-top: 5px;
}

.dropdown-footer {
  height: 2em;
}

.modal-body, .modal-header, .modal-footer {
  margin: 0 auto;
}

.initLog {
  // margin-left: 20px;
  // display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 33%;
}

#log-message {
  margin-left: 20px;
}

.third {
  width: 100%;
}

.index-master-tunes {
  margin-left: 20px;
}

span {
  position: relative;
}

span::before, span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

span::before {
  left: -8px;
  transform-origin: center top;
}

span:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

span::after {
  right: -8px;
  transform-origin: center bottom;
}

span:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}






h4 {
  position: relative;
}

h4::before, h4::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: green;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

h4::before {
  left: -8px;
  transform-origin: center top;
}

h4:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

h4::after {
  right: -8px;
  transform-origin: center bottom;
}

h4:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}
.disappear {
  display: none;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Montserrat Alternates', sans-serif;
