@import '~bootstrap/scss/bootstrap';

$navdark: #343a40;
$purp: #8f00c4;
$dark-purp: #7700a3;

// * {
//   // font-family: 'Noto Sans HK', sans-serif;
//   font-family: 'Karla', sans-serif;
// }

body {
  background-color: #eff3f7;
  font-family: 'Quicksand', sans-serif;
}

p, .log-field, .search {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#log-message {
  // position: absolute;
  // top: 0;
  margin-bottom: 4em;
  // z-index: -1;
}

.dont-move {
  position: absolute;
  top: 0;
  margin-bottom: 4em;
}

.rel {
  position: relative;
}

#image {
  // display: flex;
  // justify-content: center;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

#top-nav {
  height: fixed;
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.selected {
  color: green;
}

footer {
  position: fixed;
  bottom: 0;
}

.actions {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: green;
  color: white;
}

.action {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.shared {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.reps:hover {
  color: green;
  cursor: pointer;
}

.account-line {
  margin-bottom: 8px;
}

.dropdown-item:active {
  background-color: white;
}

.dropdown-item:hover {
  background-color: white;
}

#sign-out {
  display: inline-block;
}

.list-choice {
  margin-top: 4.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
}

#step-one, .reps {
  // padding-top: 5px;
}

.dropdown-footer {
  height: 2em;
  display: flex;
  justify-content: center;
}

#change-password {
  margin-top: 2em;
}

.modal-body, .modal-header, .modal-footer {
  margin: 0 auto;
}

.initLog {
  // margin-left: 20px;
  // display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 33%;
}
// #sign-up, #sign-in {
//   display: flex;
//   justify-content: center;
// }

#log-message, #search-results {
  margin-left: 20px;
}

.third {
  width: 100%;
  margin-bottom: 5px;
}

.index-master-tunes {
  margin-left: 20px;
}

.sp {
  position: relative;
}

.sp::before, .sp::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.sp::before {
  left: -8px;
  transform-origin: center top;
}

.sp:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.sp::after {
  right: -8px;
  transform-origin: center bottom;
}

.sp:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}





h4 {
  position: relative;
}

h4::before, h4::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: green;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

h4::before {
  left: -8px;
  transform-origin: center top;
}

h4:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

h4::after {
  right: -8px;
  transform-origin: center bottom;
}

h4:hover::after {
  transform-origin: center top;
  transform: scaleY(1);

}

.sp:hover {
  cursor: pointer;
}

.checkbox-inline > input:hover {
  cursor: pointer;
}

.load-log {
  position: relative;
  margin-left: -1.25em;
  left: 50%;
}

.load-tunes {
  position: relative;
  left: 50%;
  margin-left: -1.25em;
  z-index: 1;
}

.load-tunes, .load-log {
  width: 3.5em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: green;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

// .enable{
//   animation: jelly .5s;
// }
//
// @keyframes jelly {
//   0%,
//   100% {
//     transform: scale(1, 1);
//   }
//   25% {
//     transform: scale(0.9, 1.1);
//   }
//   50% {
//     transform: scale(1.1, 0.9);
//   }
//   75% {
//     transform: scale(0.95, 1.05);
//   }
// }

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -7%, 0);
    transform: translate3d(0, -7%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -7%, 0);
    transform: translate3d(0, -7%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  animation: slideOutUp .5s;
}


.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  animation: bounceOutRight 1.5s;
}


@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation: rubberBand 1s;
}

// .animated {
//   animation: rubberBand 0.5s;
// }


@media only screen and (max-width: 995px) {
  .list-choice {
    margin-top: 5.2em;
  }
}

@media only screen and (max-width: 600px) {
  .search-bar {
    display: none;
  }

  .initLog {
    width: 75%;
  }

  // .initLog-headers {
  //   margin: 0 auto
  // }

  h4, h3 {
    font-size: 16px;
    text-align: center;
  }

  label {
    font-size: 12px;
  }
  .log-field {
    // text-align: center;
    border-width: .5px;
    // border-color: gray;
  }

  .btn-block {
    margin-bottom: .5em;
  }

  span {
    font-size: 14px;
  }
}

.disappear {
  display: none;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Montserrat Alternates', sans-serif;
