@import '~bootstrap/scss/bootstrap';

$navdark: #343a40;

nav {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.selected {
  color: green;
}

footer {
  position: fixed;
  bottom: 0;
}

.disappear {
  display: none;
}

.actions {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: green;
  color: white;
}

.action {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.reps:hover {
  color: green;
}

.account-line {
  margin-bottom: 8px;
}

.dropdown-item:active {
  background-color: white;
}

.dropdown-item:hover {
  background-color: white;
}

#sign-out {
  display: inline-block;
}

.list-choice {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  height: 2em;
}

#step-on, .reps {
  padding-top: 5px;
}

.dropdown-footer {
  height: 2em;
}

.initLog {
  // margin-left: 20px;
  // display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 33%;
}

#log-message {
  margin-left: 20px;
}

.third {
  width: 100%;
}

.index-master-tunes {
  margin-left: 20px;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Montserrat Alternates', sans-serif;
